/* body{
    background-color: skyblue;
    margin: 20px;
    padding: 0 15;
}

.username{
     list-style: none;
     margin: 0;
     padding: 0;
}

.username li{
border: 1px solid blue;

} */

/* .btn{
    background-color: #539915;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
} */

/* .color-button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: fuchsia;
    border: none;
    border-radius: 5px;
    
} */

/* #mousemove{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .block {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  };
   */




   /* #box {
    width: 500px;
    height: 250px;
    background-size: 500px;
    background-image: url('https://www.bmw-motorrad.it/content/dam/bmwmotorradnsc/common/multiimages/images/models/adventure/r1250gs-adventure-2020/2023/productstage/nsc-r1250gs-adventure-P0N2L-multiimage-2560x1440.jpg.asset.1719227260895.jpg');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } */





  /* #message{
    font-size: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  #key{
    font-size: 50px;
    border: 1px solid red;
    padding: 60px 60px;
    width: 50px;
    margin: 0 auto;
  }
  #resetGame{
    margin: 0 auto;
    margin-top: 20px;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
  } */

  #box{
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-color: aquamarine;
  }